@import './Color.scss';

div {
  
  .custom-title {
    max-width: 300px;
    text-align: center;
  }

  .style-title {
    position: absolute;
    bottom: 0.8rem;
    left: 1.5rem;
    right: 1.5rem;
    color: $color-black1;
    font-size: 18px;
    background-color: rgba(30, 32, 34, 0.6);
    padding: 10px;
    font-weight: 600;
    border-radius: 3px;
  }


  @media only screen and (max-width: 767px){

    .height-style {
      margin-top : 280px;
    }
  }
}