@import "./Color.scss";

div{

  
  .text-container {
    max-width: 828px;
    padding: 30px 20px;
    color: $color-black4;
  }

  .article-style {
    h1 {
      font-weight: 400;
      margin : 10px 0px;
    }

    img {
      width: 100%;
      height: 70vh;
    }
    
    p {
      text-align: justify;
      font-weight: 300;
      line-height: 35px;
      white-space: pre-wrap;
    }
  }

  .d-detail {
    textarea{
      border : 1px $color-black4 solid;
      width: 100%;
      padding: 12px;
      height: 100px;
      outline: none;
      border-radius: 10px;
      font-size: 14px;
      resize: none;
      overflow: auto;
      }


    }
   

  .d-border {

    

    @media screen and (max-width: 800px) {
      article {
        width: 70%;
        margin-left: 50px;
      }
    }
  }
}
