div {

  .image-upload>input {
    display: none;
  }


  .edit-form {
    input[type="text"]{
      font: 15px/24px 'Muli', sans-serif; 
      color: #333; 
      width: 100%; 
      box-sizing: border-box; 
      letter-spacing: 1px;
    }

    :focus{
      outline: none;
    }

    .col-3{
      // float: left; 
      width: 57.33%; 
      margin: 40px 3%; 
      position: relative;
    } 
    input[type="text"]{
      font: 15px/24px "Lato", Arial, sans-serif; 
      color: #333; 
      width: 100%; 
      box-sizing: border-box; 
      letter-spacing: 1px;
    }

    .effect-1{
      border: 0; 
      padding: 7px 5px; 
      border-bottom: 1px solid #ccc;}

    .effect-1 ~ .focus-border{
      position: absolute; 
      bottom: 0; 
      left: 0; 
      width: 0; 
      height: 2px; 
      background-color: #4caf50; 
      transition: 0.4s;
    }
    .effect-1:focus ~ .focus-border{
      width: 100%; 
      transition: 0.4s;
    }

    input[type="date"] {
      width: 100%;
      color: #ccc;
      padding: 8px 5px;
    }

    input[type="date"]::-webkit-inner-spin-button {
      display: none;
      -webkit-appearance: none;
    }

    textarea {
      width: 100%;
      height: 100%;
      padding: 8px 5px;

    }
  }

  .radio {
    margin-right: 20px;
  }
}