div {
  h1 {
    font-size: 28px;
    font-weight: 400;
    // text-align: center;
  }

  hr {
    border: rgb(182, 182, 182) 0.5px solid;
  }

  .descript-upload {

    label {
      font-size: 15px;
      font-weight: 400;
    }

    form {

      input[type="text"]{
        font: 15px/24px 'Muli', sans-serif; 
        color: #333; 
        width: 100%; 
        box-sizing: border-box; 
        letter-spacing: 1px;}
      :focus{
        outline: none;
      }

      input[type=file] {
        background-color: #333;
        color: #ffffff;
        font-size: 12px;
        padding: 5px;
        width: 100%;
      }

      .col-3{
        width: 100%; 
        margin: 15px 3%; 
        position: relative;
      } 
      
      input[type="text"]{
        font: 15px/24px "Lato", Arial, sans-serif; 
        color: #ccc;
        background-color: #333;
        width: 100%; 
        box-sizing: border-box; 
        letter-spacing: 1px;
      }

      textarea[type="text"]{
        font-size: 13px;
        color: #ccc;
        background-color: #333;
        width: 100%; 
        height: 120px;
        box-sizing: border-box; 
        letter-spacing: 1px;
        padding : 5px 5px;
        resize: none;
      }

      .effect-1, 
      .effect-2, 
      .effect-3{
        border: 0; 
        padding: 5px 5px; 
        border-bottom: 1px solid #ccc;}
      

      select {
        background-color: #333;
        color: #ffffff;
        padding : 5px 10px;
        font-size: 14px
      }
      button {
        color: #ccc;
        background-color: #333;
        font-size: 14px;
      }
    
    }
  }

  .files-upload {
    div {
      border: dashed 2px #333;
      margin-top: 30px;
      margin-left: 20px;
      width: 95%;
      height: 60%;

      form {
        input[type=file] {
          background-color: #333;
          color: #ffffff;
          font-size: 12px;
          padding: 5px;
        }
      }
  
    }
  }

  @media only screen and(max-width:767px) {
    .files-upload {
      div {
        
        border: dashed 2px #333;
        margin-top: 30px;
        width: 88%;
        height: 280px;
    }
  }
  }

    
}

