@import './Color.scss';

div {

  .nav-style {
    background-color: $color-black3;
    color: $color-black1;
  }

  .search-style {

    input[type="search"] {
      padding: 5px;
      border-radius: 3px;
      width: 67%;
      height: 25px;
      color: $color-black4;
      font-size: 14px;
    }

    i {
      font-size: 21px;
    }

  }
}