div {
  
 .sign-style {
   background-color: #1E2022;
   color: #F0F5f9;

   .col-3{
     width: 90.33%; 
     margin: 40px 3%; 
     position: relative;
    } /* necessary to give position: relative to parent. */
    
    input[type="text"]{
      font: 15px/24px "Lato", Arial, sans-serif; 
      color: #333;
      background-color: #F0F5f9;
      border-radius: 3px;
      width: 100%; 
      box-sizing: border-box; 
      letter-spacing: 1px;
    }

    input[type="password"]{
      font: 15px/24px "Lato", Arial, sans-serif; 
      color: #333; 
      background-color: #F0F5f9;
      border-radius: 3px;
      width: 100%; 
      box-sizing: border-box; 
      letter-spacing: 1px;
    }

.effect-1{
  border: 0; 
  padding: 7px 10px; 
  border-bottom: 1px solid #ccc;
}

.effect-1 ~ .focus-border{
  position: absolute; 
  bottom: 0; 
  left: 0; 
  width: 0; 
  height: 3px; 
  background-color: #4caf50; 
  transition: 0.4s;
}
.effect-1:focus ~ .focus-border{
  width: 100%; 
  transition: 0.4s;
  }
}
 
 .style-in {
   background-color: #F0F5f9;

   h1 {
     margin-left: 30px;
     margin-top : 30px;
   }

   p {
    margin-left: 30px;
    margin-top : 5px;
   }
 }

 @media (max-width: 1022px){
  .style-in {
    display: none;
  }
}
}