div {
  .btn-back {
    position: absolute;
    margin-top: 10px;
    i {
      font-size: 16px;
    }

    button {
      font-size: 12px;
      z-index: -5;
    }
  }

  .img-style {

    img {
      width: 20%;
    }
  }

  @media (max-width: 1040px){
    .img-style {
      img {
        width: 30%;
      }
    }
  }

  @media (max-width: 724px){
    .img-style {
      img {
        width: 35%;
      }
    }
  }

  .input-forgot {
    
    form {
      position: relative;
      margin-top: 40px;
      left: -50px;

     :focus{outline: none;}

    .col-3{
      width: 150%; 
      margin: 15px 5%; 
      position: relative;
    } 
    
    input[type="text"]{
      font: 14px/24px "Lato", Arial, sans-serif; 
      color: #333; 
      background-color: #F0F5F9;
      width: 100%; 
      box-sizing: border-box; 
      letter-spacing: 1px;
    }

    input[type="password"]{
      font: 14px/24px "Lato", Arial, sans-serif; 
      color: #333;
      background-color: #F0F5F9; 
      width: 100%; 
      box-sizing: border-box; 
      letter-spacing: 1px;
    }

    .effect-1{
      border: 0; 
      padding: 10px 5px; 
      border-bottom: 1px solid #ccc;
    }
    
    .effect-1 ~ .focus-border{
      position: absolute; 
      bottom: 0; 
      left: 0; 
      width: 0; 
      height: 2px; 
      background-color: #4caf50; 
      transition: 0.4s;
    }
    
    .effect-1:focus ~ .focus-border{
      width: 100%; 
      transition: 0.4s;
    }
    
    
    }
  }

  .bcg-color {
    background-color: #F0F5f9;
    height: 97vh;
  }

  @media (max-width: 724px){
    .bcg-color {
      background-color: #F0F5f9;
      height: 97vh;
    }
  }

  @media (max-width: 1125px){
    .bcg-color {
      background-color: #F0F5f9;
      height: 97vh;
    }
  }
}